# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#IDEA
*.log
*.iml
*.ipr
*.iws
.idea
#mac
.DS_Store
#sbt
project/project
project/target
target/
#scala
.tasty
#bloop and metals
.bloop
.bsp