name: Scala CI

on:
  push:
    branches: [ "master", "development" ]
  pull_request:
    branches: [ "master", "development" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: 'sbt'
        
    - name: Set up sbt
      uses: sbt/setup-sbt@v1
      
    - name: run tests with coverage
      run: sbt clean coverage test coverageReport
      
    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v2.3.6
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        base-path: ${{ github.workspace }}
        file: target/scala-3.3.7/coverage-report/cobertura.xml
        format: cobertura
